<div class="hotlist left">
Hottest males
<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Win</th>
    <th>Loss</th>
  </tr>

<% @top_males.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.uid %></td>
    <td><%= user.gender %></td>
    <td><%= user.win %></td>
    <td><%= user.loss %></td>
    <td><%= user.score.to_i %></td>
  </tr>
<% end %>
</table>
</div>

<div class="hotlist right">
Hottest Females
<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Win</th>
    <th>Loss</th>
  </tr>

<% @top_females.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.uid %></td>
    <td><%= user.gender %></td>
    <td><%= user.win %></td>
    <td><%= user.loss %></td>
    <td><%= user.score.to_i %></td>
  </tr>
<% end %>
</table>
</div>
<div style="clear:both;"></div>