<h1>Ranking#index</h1>
<p>Find me in app/views/ranking/index.html.erb</p>
    <table>
      <tr>
      <tr><th>Hottest global males</th></tr>
      <tr>
        <th>Name</th>
        <th>Uid</th>
        <th>Gender</th>
        <th>Win</th>
        <th>Loss</th>
        <th>Score</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @global_males.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.uid %></td>
        <td><%= user.gender %></td>
        <td><%= user.win %></td>
        <td><%= user.loss %></td>
        <td><%= user.score %></td>
      </tr>
    <% end %>
      <tr>
        <th>Hottest global females</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @global_females.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.uid %></td>
        <td><%= user.gender %></td>
        <td><%= user.win %></td>
        <td><%= user.loss %></td>
        <td><%= user.score %></td>
      </tr>
    <% end %>
  </table>

