
  <div class="statbox1">
				<div class="stattitle">Hottest Global Rankings </div>
        <% for user in @global_males %>
        <%= user_tile(user) %>
        <% end %>
        <%= see_more_box("See More Hot Global Males", rankings_global_path) %>
        <% for user in @global_females %>
				<%= user_tile(user) %>
        <% end %>
        <%= see_more_box("See More Hot Global Females", rankings_global_path) %>
        <div style="clear:both;"></div>
	</div>

  <div class="statbox1">
				<div class="stattitle">Hottest Friends </div>
        <% for user in @friend_males %>
				<%= user_tile(user) %>
        <% end %>
        <%= see_more_box("See More Hot Male Friends", rankings_friends_path) %>
        <% for user in @friend_females %>
				<%= user_tile(user) %>
        <% end %>
        <%= see_more_box("See More Hot Female Friends", rankings_friends_path) %>
        <div style="clear:both;"></div>
	</div>
  
  <div class="statbox1">
				<div class="stattitle">Hottest Group Rankings </div>
        <p>Coming Soon</p>
	</div>
