<h1>Listing users</h1>
<%= @user.name %> has logged in <%= @user.login_count %> times and rated <%= @user.rating_count %> battles.<br>
Female unrated (0/0): <%= @female_unrated %><br>
Female Total: <%= @female_total %><br>
Male unrated (0/0): <%= @male_unrated %><br>
Male Total: <%= @male_total %><br>
<br>
FRIENDS
<table>
  <tr>
    <th>Name</th>
    <th>Uid</th>
    <th>Gender</th>
    <th>Win</th>
    <th>Loss</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @friends.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.uid %></td>
    <td><%= user.gender %></td>
    <td><%= user.win %></td>
    <td><%= user.loss %></td>
    <td><%= user.score %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </table>
INVERSE FRIENDS
<table>
<% @inverse_friends.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.uid %></td>
    <td><%= user.gender %></td>
    <td><%= user.win %></td>
    <td><%= user.loss %></td>
    <td><%= user.score %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
