<h1>Settings for <%= @user.name %></h1>

<%= form_tag '/settings' %>

    Account Status:
  <% if current_user.settings == 0 %>
    Account is currently DEACTIVATED. To reactivate account, type "reactivate" in the text box below <br>
  <% else %>
    Account is currently ACTIVE. To deactivate account, type "deactivate" in the text box below <br>    
  <% end %>       
    <%= text_field_tag("account_status_message") %> <br>
    <%= hidden_field_tag 'update', true %>
    <br><br>
    <%= submit_tag "Save Settings" %><br>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
