<p id="notice"><%= notice %></p>

<p>
  <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=large") %>
</p>

<p>
  <b>Name:</b>
  <%= link_to @user.name, "http://www.facebook.com/profile.php?id=#{@user.uid}" %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Win:</b>
  <%= @user.win %>
</p>

<p>
  <b>Loss:</b>
  <%= @user.loss %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<h2>Groups</h2>
<ul>
  <% for group in @user.groups %>
    <li>
      <%=h link_to group.name, group %>
    </li>
  <% end %>

<h2>Friends</h2>
<ul>
  <% for friend in @user_friends %>
    <li>
      <%=h friend.name %>
    </li>
  <% end %>
</ul>
