
		<div class="user">

<!-- <p id="notice"><%= notice %></p> -->

  <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture", :class=>"left profimg") %>

<p class="username left">
  <%= @user.name %>
</p>
<%= if @user.id == current_user.id then link_to ("Settings", "/settings", :class => 'right smallbutton') + 
link_to ("Invite Your Friends", "/invite", :class => 'right smallbutton') end %>
<%= if @is_invitable then link_to "Invite " + @user.name, "/invite", :class => 'right smallbutton', :id => 'invite_button', :remote => true end %>
<%= render 'fb_specific_invite' %>
<div style="clear:both;"></div>
				<div class="statbox4">
					<div class="stattitle">You've Voted</div>
					<div class="statcontent">
						<span class="bignumber"><%= @user.rating_count %></span>Times
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Your Wins/Losses</div>
					<div class="statcontent">
						<span class="bignumber"><%= @user.win %></span>/<%= @user.loss %>
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Your Score</div>
					<div class="statcontent">
						<span class="bignumber"><%= Integer(@user.score.round) %></span>
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Frankers</div>
					<div class="statcontent">
						<span class="bignumber">?</span>
					</div>
          <div style="clear:both;"></div>	
				</div>
						
	<div class="statbox2">
				<div class="stattitle">Network Rankings</div>
<img src="http://chart.apis.google.com/chart?chs=400x210&cht=gm&chd=t:70" width="400" height="210" alt="" />
				</div>
				
				<div class="statbox2">
								<div class="stattitle">Networks</div>

				<ul class="statlists">
          <% for group in @user.groups %>
          <li><strong><%=h link_to group.name, group %></strong</li>
          <% end %>
				</ul>
				</div>
			
			<div style="clear:both;"></div>
  
<% if !@user_friends.empty? %>
  <div class="statbox1">
				<div class="stattitle">Hottest Friends </div>
        <% @user_friends.each do |friend| %>
        <%=  user_tile(friend) %>
        <% end %>
					<div style="clear:both;"></div>
	</div> <% end %>
</div>
