	<div id="top-ad">
			<img src="http://dummyimage.com/728x90" />
		</div>
		<div class="user">

<!-- <p id="notice"><%= notice %></p> -->

  <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=large", :class=>"left profimg") %>

<p class="username left">
  <%= link_to @user.name, "http://www.facebook.com/profile.php?id=#{@user.uid}" %>
</p>
<div style="clear:both;"></div>
				<div class="statbox4">
					<div class="stattitle">Battles Voted On</div>
					<div class="statcontent">
						<span class="bignumber">?</span>
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Battles Won</div>
					<div class="statcontent">
						<span class="bignumber"><%= @user.win %></span>/<%= @user.win + @user.loss %>
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Score</div>
					<div class="statcontent">
						<span class="bignumber"><%= Integer(@user.score.round) %></span>
					</div>
				</div>
				<div class="statbox4">
					<div class="stattitle">Frankers</div>
					<div class="statcontent">
						<span class="bignumber">?</span>
					</div>
          <div style="clear:both;"></div>	
				</div>
						
	<div class="statbox2">
				<div class="stattitle">Network Rankings</div>
<img src="http://chart.apis.google.com/chart?chs=400x210&cht=gm&chd=t:70" width="400" height="210" alt="" />
				</div>
				
				<div class="statbox2">
								<div class="stattitle">Networks</div>

				<ul class="statlists">
          <% for group in @user.groups %>
          <li><strong><%=h link_to group.name, group %></strong</li>
          <% end %>
				</ul>
				</div>
			
			<div style="clear:both;"></div>
 <!-- 
  <p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>
-->

<p>
  <b>Win:</b>
  <%= @user.win %>
</p>

<p>
  <b>Loss:</b>
  <%= @user.loss %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<h2>Groups</h2>
<ul>
  <% for group in @user.groups %>
    <li>
      <%=h link_to group.name, group %>
    </li>
  <% end %>

<h2>Friends</h2>
<ul>
  <% for friend in @user.friends %>
    <li>
      <%=h friend.name %>
    </li>
<!--    <li>
    <%= image_tag("http://graph.facebook.com/#{friend.uid}/picture") %>
    </li>  -->
  <% end %>
  <% for friend in @user.inverse_friends %>  
    <li>
      <%= h friend.name %></li>  
  <% end %>  
</ul>
