<h2 style="text-align:center;">Last Battle</h2>
<% if session[:last_battle] %>
  <div id="left">
	  <%= reg_pic(old_left_user, {:class => "battle"}) %>
	  <p class="lastround boldit"> <%= old_left_user.name %> </p>
	  <p class="lastround"> Score: <%= old_left_user.score.to_i %> </p>
	  <p class="lastround"> Wins: <%= old_left_user.win_loss %> </p>
  </div>
  <div id="right">
	  <%= reg_pic(old_right_user, {:class => "battle"}) %>
	  <p class="lastround boldit"> <%= old_right_user.name %> </p>
	  <p class="lastround"> Score: <%= old_right_user.score.to_i %> </p>
	  <p class="lastround"> Wins: <%= old_right_user.win_loss %> </p>
  </div>
<% end %>
<div style="clear:both;"></div>
