<%= javascript_include_tag "battle" %>
<div id="left-column">
	<div class="ad-col">
    <%= render "left-ad" %>
	</div>
</div>
<div id="main">

  <%= form_tag '/battle_update', :remote => true, :id => "battle_options", :method=> "get" do %>
    <%= radio_button_tag 'gender', 'male', @options["gender"] == "male" %> male
    <%= radio_button_tag 'gender', 'female', @options["gender"] == "female" %> female
    <%= select_tag 'network', network_options_with_friends(current_user.groups, @options["network"]) %>
  <% end %>

	<div id="battleground">
    <%= render "bground" %>
  </div>

	<div id="battleground-history" class="old">
		<%= render "bground_history" %>
	</div>

</div>
<div id="right-column">
	<div class="ad-col">
    <%= render "right-ad" %>
	</div>
</div>
<div style="clear:both;"></div>
