<div class="content-box hotlist left">
<h2 class="center-text">Hottest Males</h2>
<table class="rankings">
  <tr>
    <th></th>
    <th></th>
    <th>Score</th>
    <th>Win</th>
    <th>Loss</th>
  </tr>

<% @top_males.each do |user| %>
  <tr>
    <td class="piccell cell"><%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture", :class=>"battle left"), user %> 
    <td class="name namecell cell"><%= link_to user.name.split(" ")[0], user %></td>
    <td class="numcell"><%= user.score.to_i %></td>
    <td class="numcell"><%= user.win %></td>
    <td class="numcell"><%= user.loss %></td
  </tr>
<% end %>
</table>
</div>

<div class="content-box hotlist right">
<h2 class="center-text">Hottest Females</h2>
<table class="rankings">
  <tr>
    <th></th>
    <th></th>
    <th>Score</th>
    <th>Win</th>
    <th>Loss</th>
  </tr>

<% @top_females.each do |user| %>
  <tr>
    <td class="piccell cell"><%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture", :class=>"battle left"), user %> 
    <td class="name namecell cell"><%= link_to user.name.split(" ")[0], user %></td>
    <td class="numcell"><%= user.score.to_i %></td>
    <td class="numcell"><%= user.win %></td>
    <td class="numcell"><%= user.loss %></td
  </tr>
<% end %>
</table>
</div>
<div style="clear:both;"></div>
